.sudoku-board {
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  border: 0.25rem solid var(--dark);
  user-select: none;
  align-items: center;
  justify-items: center;
  background-color: white;
}

.disabled {
  pointer-events: none;
}
