.box {
  width: 2rem;
  height: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.box:nth-child(3n) {
  border-right: 2px solid rgb(0, 67, 143);
}
.inputbox,
.inputBoxWrong {
  margin: 0;
  padding: none;
  outline: none;
  border: none;
  width: 2rem;
  height: 2rem;
  background-color: rgb(223, 223, 223);
  box-sizing: border-box;
  color: black;
}
.inputBoxWrong {
  color: red;
  background-color: rgba(206, 28, 28, 0.4);
}
