.box {
  width: 3rem;
  height: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background-color: var(--stillblue);
  display: grid;
  place-items: center;
}

.inputbox {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dyblue);
  display: grid;
  place-items: center;
  text-align: center;
  cursor: pointer;
}
.inputbox:focus {
  background-color: rgb(191, 205, 255);
  caret-color: transparent;
}
.correct {
  background-color: rgb(191, 205, 255);
  color: var(--blue);
}
.incorrect {
  color: var(--red);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
@media only screen and (max-width: 768px) {
  .box {
    width: 2.5em;
    height: 2.5em;
  }
}
