* {
  margin: 0;
}
.wrapper {
  min-height: 85vh;
  margin-bottom: 1.5rem;
}
.wrapper h1 {
  text-align: center;
}
.howtoplay {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}
.rulewrapper {
  flex: 1;
  width: fit-content;
  font-size: 1.2em;
  padding-top: 2em;
  margin: 0 auto;
  padding-right: 2em;
  cursor: pointer;
}
.rulewrapper p {
  padding-bottom: 0.6em;
}
.rulewrapper p:active {
  color: rgb(94, 94, 94);
  transition-delay: 0.8ms;
}

.contentwrapper {
  width: fit-content;
  height: fit-content;
  padding-top: 2em;
  padding-left: 2em;
  flex: 1;
  margin: 0 auto;
  font-size: 1em;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
.separator {
  border-left: 1px solid rgb(150, 150, 150);
  margin-top: 5vh;
  height: inherit;
}
@media only screen and (max-width: 768px) {
  .howtoplay {
    flex-direction: column;
    width: 80%;
  }
  .separator {
    display: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
