.main {
  padding-bottom: 4rem;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.sidebar {
  height: 22em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
}

@media only screen and (max-width: 768px) {
  .main {
    /* border: 1px solid red; */
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
  }
  .sidebar {
    flex-direction: row;
    width: 22em;
    height: fit-content;
  }
}
