.Timetitle {
  font-weight: 600;
  padding-right: 5vh;
}
.timewrapper {
  display: flex;
}
@media only screen and (max-width: 414px) {
  .timedtool {
    display: flex;
    flex-direction: column;
  }
  .Timetitle {
    padding-right: 3vh;
  }
  .timewrapper {
    padding-right: 3vh;
  }
}
